<style>
.navbar-default {
  background-color: #87CEFA;
  border-color: #e7e7e7;
}
</style>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>

    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">Shuguang Dou</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<button type="button" href="{{ site.url }}{{ site.baseurl }}/" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-home"></span>Home</button>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/codes">Codes</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/experience">Experience</a></li>
	  </ul>
	</div>
  </div>
</div>
